@font-face {
    font-family: 'Noto-sans';
    src: url(/NotoSans-Regular.ttf);
    
}

body {
    font-family: 'Noto-sans';
}

header {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    height: 900px;
    width: 1921px;
    left: -1px;
    top: 0px;
    border-radius: 0px;
    background: url(img/фон.jpg);
}

.header-img1 {
    margin-top: 76px;
}

.header-p1 {
    font-size: 18px;
}

.header-p2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 87px;
    letter-spacing: 0em;
}
.header-p3 {
    font-size: 42px;
    line-height: 57px;
    letter-spacing: 0em;
    margin-top: -90px;


}
.header-div1 {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-div1-div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #1B171700;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

.header-div1-p1 {
    border: none
}

.section1-div1 {
    display: flex;
    margin-top: 150px;
    height: 763px;

}

.section1-div1-div1 {
    height: 763px;
    display: flex;
    flex-direction: column;
    width: 510px;
    margin-left: 360px;
    
}

.section1-div1-img1 {
    margin-left: 100px;
    margin-top: 93px;
}

.section1-div1-h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #868585;
}

.section1-div1-h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-top: 30px;
    color: #303030;

}

.section1-div1-p1 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #303030;
    margin-top: -30px;
    width: 510px;
}


.section1-div2 {
    margin-left: 360px;
    height: 765px;
    width: 1200px;
    margin-top: 150px;

}

.section1-div2-div1-div1 {
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 40px;
    width: 400px;
    height: 27px;
    font-size: 18px;
    color: #303030;
}

.section1-div2-div1-div1-p1 {
    border-bottom: 1px solid #303030;
}

p:hover {
    color: #A9A32A;
    transition: 0.5s linear;
}

h6:hover {
    color: #A9A32A;
    transition: 0.5s linear;
}

.section1-div2-div2 {
    display: flex;
    justify-content: baseline;
    gap: 40px;
    margin-top: 125px;
    width: 510px;
    height: 200px;

}

.section1-div2-div2-div1 {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 68px;
    font-size: 14px;
    color: #303030;
    margin-top: -18px;
}


.section1-div2-div3 {
    
}